/* f6f5f5
d3e0ea
1687a7
276678 */

* {
    box-sizing: border-box;
    
}
#header {
    height: 100px;
    width: 100%;
    background-color: #276678;
    top:0;
    display: flex;
}

#menu {
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgb(246, 246, 248);
}
.menu ul{
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color:#276678;
}

.menu li {
    height: 3.5mm;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    background-color:#276678;
    border-right: 1px solid #f6f5f5;
}

.menu li:last-child {
    border-right: none;
}

.menu li button{
    display: flex;
    color: #f6f5f5;
    text-align: center;
    text-decoration: none;
    font-size: 3.5mm;
}

.button:hover {
    opacity: 0.5;
}

.boton {
    background-color: #276678;
    border: none;
}